
<app-modal-info *ngIf="isModalInfoVisible" [modalText]="modalText" [modalType]="modalType" (isConfirmed)="closeModal($event)"></app-modal-info>
<form class="content" action="" #createForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input required minlength="3" matInput placeholder="Название" name="name" [(ngModel)]="name" #nameControl="ngModel">
    </mat-form-field>


    <mat-form-field>
      <input required minlength="8" matInput [matDatepicker]="picker" placeholder="Выбери дату" [(ngModel)]="date" name="date" #dateControl="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="content-row">
      <span>Время</span>
      <ngb-timepicker [(ngModel)]="time" required name="timepicker"></ngb-timepicker>
    </div>


  <button [disabled]="createForm.form.invalid" mat-flat-button color="primary" type="submit" >Обновить</button>
</form>
