
.modal-info {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  display: flex;
  right: 25px;
  bottom: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  width: 423px;
}

.show-modal {
  opacity: 1;
  pointer-events: all;
}

.remind-list__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reminder-list__info {
  margin-top: 20px;
  text-align: center;
}

.reminder-list__row-dateTime {
  display: flex;
  flex-direction: column;
}

.reminder-list__row-title {
  flex-grow: 1;
}

.reminder-list__row-status {
    width: 13px;
    height: 13px;
    margin-right: 13px;
    border-radius: 50%;
}
